
.wraperDiv{
    box-sizing: border-box;
    display: inline-block;
    height: 10vw;
    width: 10vw;
    padding:1vw;
    margin:auto;
}

.sortItem {/*
    background-color: #09d3ac;
    */
    box-sizing: border-box;
    height: 8vw;
    width: 8vw;
    margin:0vw;
    background-color: #2f3e46;
    border-width: .5vw .5vw .5vw .5vw;
    border-style: solid ;
    border-color: #ff6a00;
    border-radius: 1vw;
    
    color:white;
}

.swap {
    border-color:rgb(255, 0, 0);
    position: relative;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 0.1s; 
    animation-name: example;
    animation-delay: .1s;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
}

.touch {
    border-color:rgb(0, 4, 255);
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-delay: .1s;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
}
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {transform: scale(1.0);}
    50%  {transform: scale(1.1);}
    100% {transform: scale(1.0);}
}
  
  /* Standard syntax */
  @keyframes example {
    0%   {transform: scale(1.0);}
    50%  {transform: scale(1.1);}
    100% {transform: scale(1.0);}
}

.sortItemText {
    margin-top: 1vw;
    font-size: 5vw;

}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

#selected {
    background-color: royalblue;
}


